ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}
.social {
  display: flex;
  justify-content: space-evenly;
align-items: center;
  margin: 10px auto;
}
@media only screen and (max-width: 767px) {
  .social {
    justify-content: center;
  }
}
.social li {
  margin-right: 10px;
}
.social li a {
  color: #b9b9b9;
  background-color: #313131;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
  border-radius: 10px;
}
.social li a.facebook:hover {
  background-color: #1877f2;
}
.social li a.linkedin:hover {
  background-color: #1da1f2;
}
.social li a.github:hover {
  background-color: #797474;
}
